@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(83, 83, 83);
}

.panel-wrapper {
    height: 210px;
    width: 410px;
    background-color: rgb(70, 70, 70);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    position: relative;
    height: 200px;
    width: 400px;
    background-color: rgb(83, 83, 255);
    border-radius: 20px;
    border: none;
    cursor: pointer;

    /* Fuente */
    color: white;
    font-size: 20px;
    font-family: 'Press Start 2P', sans-serif;
}